html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Poppins', sans-serif;
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(https://img.freepik.com/vector-gratis/fondo-degradado-cielo-pastel_23-2148938062.jpg?w=2000);
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    gap: 100px;
    margin: 0 5vw;
}

@media (max-width:1100px) {
    .container {
        flex-direction: column;
    }
}

.container-square {
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:1100px) {
    .container-square {
        width: 100%;
    }
}

.square {
    width: 250px;
    height: 250px;
    background-color: rgb(254, 88, 88);
    border-radius: 60px;
}

@media (max-width:1100px) {
    .square {
        margin-top: 1150px;
        width: 200px;
        height: 200px;
    }
}

.container-input {
    width: 30vw;
    box-sizing: border-box;
    color: rgb(52, 52, 52);
}

@media (max-width:1100px) {
    .container-input {
        width: 80%;
    }
}

.range-p {
    display: flex;
    justify-content: space-between;
}

input[type="range"] {
    width: 100%;
}

.results {
    width: 30;
    background-color: antiquewhite;
    padding: 5px;
    border: 1px solid black;
}

@media (max-width:1100px) {
    .results {
        width: 80%;
        margin-bottom: 50px;
    }
}